{{define "title"}}Home{{end}}

{{define "main"}}

    <section>
        <h1 class="mb-xs">
            Hello, I'm <span class="highlight"> Arkar Dev </span>👋
        </h1>
        <p>
            An inspiring software engineer, Coding with a strong passion for design and computer science, I enjoy creating amazing things and building blazingly-fast websites.
        </p>
    </section>

    <section>
        <h2 class="mb-sm">Latest Articles</h2>
        <div class="cols-2">
            {{ range .}}
                <div class="card">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Description}}</p>
                    <div class="flex">
                        <p><a href="/article/{{ .Id }}">View</a></p>
                        <span class="highlight date">20 Jun 2023</span>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

{{end}}
