{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/assets/css/tailwind.css" rel="stylesheet" />
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Snippetbox</title>
    </head>
    <body>
    {{template "header" .}}
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}
