{{define "header"}}
    <header class="header">
        <h1 class="header__logo">
            ArkarDev
        </h1>
        <ul class="header__nav">
            <li>
                <a href="/" class="header__link">Home</a>
            </li>
            <li>
                <a href="/articles" class="header__link">About</a>
            </li>
            <li>
                <a href="/snippets" class="header__link">Snippets</a>
            </li>
            <li>
                <a href="/about" class="header__link">About</a>
            </li>
        </ul>
    </header>
{{end}}
